**/.build/
**/build/
**/build_*/
riscv64-unknown-elf/
riscv32-unknown-elf/
emulator/*rvmicro
emulator/*rvnewlib
emulator/*rvlinux
tests/autotest/emulator/emulator
fuzz/crash-*
webapi/tests/binary

gmon.out
callgraph.svg
